.app-container{
  height: 100%;
}

#central-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px auto;
  position: relative;
  min-width: 150px;
  max-width: 500px;
  width: 30%;
  z-index: 4;
}


#central-container canvas{
  animation: icons 30s infinite;
  position: absolute;
  top:-20px;
  z-index: 10;
}

.title-greeting{
  font-size: 44px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 1px seagreen;
  top: 0px;
  z-index: 10;
}


#title-char-1{
  color: #DA70D6;
}

#title-char-2{
  color:#DB7093;
}

#title-char-3{
  color:#87CEFA;
}

#title-char-4{
  color:#FFA500;
}

#title-char-5{
  color:#DA70D6;
}

#title-word-2{
  color:#6A5ACD;
}

#title-word-3{
  color:#ADFF2F;
}


#location-content{
text-shadow: 2px 2px 6px lightseagreen
}

@keyframes icons {
  0%   {
        left: 10%;
       }
  50%  {
        left:90%;
      }
  100% {
        left: 10%;
    }
}
