.app-container{
  display: flex;
  flex-direction: column;
}

#central-container{
  height: 235px;
  position: relative;
}

#central-container canvas{
  animation: icons 60s infinite;
  position: relative;
  top:-20px;
  opacity: 0.7;
}

.title-greeting{
  font-size: 42px;
  text-align: center;
}

#title-char-1{
  color:#7CFC00;
}

#title-char-2{
  color:#DB7093;
}

#title-char-3{
  color:#87CEFA;
}

#title-char-4{
  color:#FFA500;
}

#title-char-5{
  color:#DA70D6;
}

#title-word-2{
  color:#6A5ACD;
}

#title-word-3{
  color:#ADFF2F;
}

@keyframes icons {
  0%   {
        left: 10%;
       }
  50%  {
        left:60%;
      }
  100% {
        left: 10%;
    }
}
