.chart-container{
  display: flex;
  margin: 0px 10px;
  flex-direction: column;
}

.recharts-surface{
  background: rgba(256,256,256,0.8);
}

.weather-summary-container{
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  width: 95%;
}

.recharts-wrapper{
  margin-top: 5px;
}

.recharts-legend-item-text{
  font-size: 1.5em;
}


@media (max-width:520px){
  .weather-summary-container{
    align-items: center;
    flex-direction: column;
  }
}
