@import url('app.scss');
@import url('timeMachineInput.scss');
@import url('weatherInfo.scss');
@import url('backgroundAnimation.scss');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   font-family: 'Lobster Two', sans-serif;
   font-weight: 100;
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

#root{
  height: 250vh;
}

.Map-wrapper {
  height: 400px;
  width: 100%;
}

.mapboxgl-canvas{
  height: 400px !important;
}
