@import url('app.scss');
@import url('inputLocation.scss');
@import url('weatherInfo.scss');
@import url('backgroundAnimation.scss');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body, #root {
    margin: 0;
    height: 100%;
}

body{
  font-family: 'Indie Flower', cursive;
}

.Map-wrapper {
  height: 200px;
  width: 100%;
}
