.error-message{
  background: rgba(0,0,0,.9);
  color:#fff;
  height: 100vw;
  font-size:2em;
  padding: 25%;
  position: relative;
  top: -100%;
  width: 100vw;
}

.input-location-form input,
.input-location-form select{
  width: 257px;
}

.time-machine-form-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 90%;
}

#time-machine-intro{
  font-size: 2.5em;
  margin-top: 50px;
  text-shadow: 2px 2px 7px seagreen;
}

.input-location-form{
  display: flex;
  flex-direction: column;
}


.input-location-form input, button{
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

.input-location-form button{
  background: #1a1a1a;
  border: 2px solid #6495ed;
  color:#6495ed;
  font-size: 19px;
  height: 44px;
}

.input-form-container{
  display: flex;
}

.input-location-form button:hover{
  background: #6495ed;
  border-width: 0px;
  color:#1a1a1a;
  font-size: 20px;
  transition: all .4s;
}

.input-location-form input{
  padding-left: 5px;
  font-size: 24px;
  height: 45px;
  border-radius: 6px;
}

.tm-input-word{
  display: inline-block;
  margin: 0px 6px;
}

#categories-input{
  height: 45px;
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
}

#categories-input,.input-location-form input{
  background: content-box;
  color: #DA70D6;
  text-shadow: 1px 1px 1px green;
  font-size: 27px;
}




#tm-input-word-1{
  color:#87CEFA;

}

#tm-input-word-3{
  color:#DB7093;

}

#tm-input-word-4{
  color:#FFA500;

}

#tm-input-word-5{
  color:#7CFC00;

}

#tm-input-word-6{
  color:#6A5ACD;

}

#tm-input-word-7{
  color:#ADFF2F;

}

#tm-input-word-8{
  color:#DB7093;

}

#tm-input-word-9{
  color:#87CEFA;

}

#tm-input-word-10{
  color:#7CFC00;

}

#tm-input-word-11{
  color:#6A5ACD;
}

@media (max-width:550px){
  .input-form-container{
    flex-direction: column;
  }
}
